body {
  margin:0px;
  background-color:rgba(102, 51, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1269px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u0 {
  position:absolute;
  left:251px;
  top:46px;
  width:642px;
  height:46px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:390px;
  top:200px;
  width:339px;
  height:204px;
  font-size:18px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:166px;
  top:248px;
  width:100px;
  height:120px;
}
#u4_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:125px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:127px;
}
#u14 {
  position:absolute;
  left:305px;
  top:566px;
  width:535px;
  height:126px;
}
#u15 {
  position:absolute;
  left:2px;
  top:55px;
  width:531px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:640px;
}
#u16 {
  position:absolute;
  left:854px;
  top:46px;
  width:415px;
  height:640px;
}
#u17 {
  position:absolute;
  left:2px;
  top:312px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:503px;
  top:715px;
  width:140px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
